<body>
  <br />
  <div class="container">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">FECHAS</h5>
        <div class="header-elements">
          <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
            <a class="list-icons-item" data-action="reload"></a>
            <a class="list-icons-item" data-action="remove"></a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <!-- Pickadate picker -->
          <div class="col-md-6">
            <div class="card-header header-elements-inline">
              <h5 class="card-title">Pickadate picker</h5>
            </div>
            <div class="mb-4">
              <h6 class="font-weight-semibold">Translations</h6>
              <p>
                The picker supports translations for 39 languages, available out
                of the box.
              </p>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="icon-calendar5"></i
                  ></span>
                </span>
                <input
                  type="text"
                  class="form-control pickadate-translated"
                  placeholder="Try me&hellip;"
                />
              </div>
            </div>
          </div>
          <!-- /pickadate picker -->
        </div>
      </div>
    </div>
  </div>
</body>
