
    <!-- Colors -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Color options</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <p class="mb-3">Besides default color, both checkboxes and radio buttons support 5 additional contextual color classes and other custom colors from color system. Colors are adapted to use in different background colors of parent elements - dropdown menus, active list states, input group addons - all checkboxes and radios are white on dark backgrounds. To use, simply add <code>background</code> and <code>text</code> color classes to Uniform's <code>wrapperClass</code> options.</p>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3 mb-md-2">
                        <label class="font-weight-semibold">Checkboxes</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-styled-primary" checked data-fouc>
                                        Primary checkbox
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-styled-danger" checked data-fouc>
                                        Danger checkbox
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-styled-success" checked data-fouc>
                                        Success checkbox
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-styled-warning" checked data-fouc>
                                        Warning checkbox
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-styled-info" checked data-fouc>
                                        Info checkbox
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-styled-custom" checked data-fouc>
                                        Custom color
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-3 mb-md-2">
                        <label class="font-weight-semibold">Radio buttons</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" name="radio-styled-color" class="form-check-input-styled-primary" checked data-fouc>
                                        Primary radio
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" name="radio-styled-color" class="form-check-input-styled-danger" data-fouc>
                                        Danger radio
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" name="radio-styled-color" class="form-check-input-styled-success" data-fouc>
                                        Success radio
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" name="radio-styled-color" class="form-check-input-styled-warning" data-fouc>
                                        Warning radio
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" name="radio-styled-color" class="form-check-input-styled-info" data-fouc>
                                        Info radio
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" name="radio-styled-color" class="form-check-input-styled-custom" data-fouc>
                                        Custom color
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /colors -->

    <!-- Switchery toggles -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Switchery toggles</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h6 class="font-weight-semibold">Default switchers</h6>
                        <p class="mb-3">You can add as many switches as you like, as long as their corresponding checkboxes have the same class. Select them and make new instance of the Switchery class for every of them.</p>

                        <div class="form-check form-check-switchery">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                Checked switch
                            </label>
                        </div>

                        <div class="form-check form-check-switchery">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" data-fouc>
                                Unchecked switch
                            </label>
                        </div>

                        <div class="form-check form-check-switchery disabled">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" checked disabled data-fouc>
                                Checked disabled
                            </label>
                        </div>

                        <div class="form-check form-check-switchery disabled">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" disabled data-fouc>
                                Unchecked disabled
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="font-weight-semibold pt-1">Switcher colors</h6>
                        <p class="mb-3">You can change the default color of the switch to fit your design perfectly. According to the color system, any of its color can be applied to the switchery. Custom colors are also supported.</p>

                        <div class="form-check form-check-switchery">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery-primary" checked data-fouc>
                                Switch in <span class="font-weight-semibold">primary</span> context
                            </label>
                        </div>

                        <div class="form-check form-check-switchery">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery-danger" checked data-fouc>
                                Switch in <span class="font-weight-semibold">danger</span> context
                            </label>
                        </div>

                        <div class="form-check form-check-switchery">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery-info" checked data-fouc>
                                Switch in <span class="font-weight-semibold">info</span> context
                            </label>
                        </div>

                        <div class="form-check form-check-switchery">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery-warning" checked data-fouc>
                                Switch in <span class="font-weight-semibold">warning</span> context
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="font-weight-semibold pt-1">Left inline</h6>
                        <p class="mb-3">Switchery component also supports default option for <strong>left</strong> and <strong>right</strong> inline alignment. Just add <code>.form-check-inline</code> class to <code>.form-check-switchery</code> container. Default alignment is <strong>left</strong>.</p>

                        <div class="form-check form-check-switchery form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                First input
                            </label>
                        </div>

                        <div class="form-check form-check-switchery form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                Second input
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <h6 class="font-weight-semibold pt-1 pt-md-0">Sticked to the right</h6>
                        <p class="mb-3">Sometimes it's very useful to have switches on the right side of the container. Just add <code>.form-check-right</code> class to the <code>&lt;.form-check></code> container for the very right side switcher alignment.</p>

                        <div class="form-check form-check-right form-check-switchery">
                            <label class="form-check-label">
                                Checked switch
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                            </label>
                        </div>

                        <div class="form-check form-check-right form-check-switchery">
                            <label class="form-check-label">
                                Unchecked switch
                                <input type="checkbox" class="form-check-input-switchery" data-fouc>
                            </label>
                        </div>

                        <div class="form-check form-check-right form-check-switchery disabled">
                            <label class="form-check-label">
                                Checked disabled
                                <input type="checkbox" class="form-check-input-switchery" checked disabled data-fouc>
                            </label>
                        </div>

                        <div class="form-check form-check-right form-check-switchery disabled">
                            <label class="form-check-label">
                                Unchecked disabled
                                <input type="checkbox" class="form-check-input-switchery" disabled data-fouc>
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="font-weight-semibold pt-1">Multiple labels</h6>
                        <p class="mb-3">Switchery can be used with single label or with multiple labels. To use, add <code>.switchery-double</code> class to the container. All sizing options are available for this switchery type as well.</p>

                        <div class="form-check form-check-switchery form-check-switchery-double">
                            <label class="form-check-label">
                                Enable
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                Disable
                            </label>
                        </div>

                        <div class="form-check form-check-switchery form-check-switchery-double">
                            <label class="form-check-label">
                                Enable
                                <input type="checkbox" class="form-check-input-switchery" data-fouc>
                                Disable
                            </label>
                        </div>

                        <div class="form-check form-check-switchery form-check-switchery-double disabled">
                            <label class="form-check-label">
                                Enable
                                <input type="checkbox" class="form-check-input-switchery" checked disabled data-fouc>
                                Disable
                            </label>
                        </div>

                        <div class="form-check form-check-switchery form-check-switchery-double disabled">
                            <label class="form-check-label">
                                Enable
                                <input type="checkbox" class="form-check-input-switchery" disabled data-fouc>
                                Disable
                            </label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h6 class="font-weight-semibold pt-1">Right inline</h6>
                        <p class="mb-3">You can also reverse inline alignment to <code>right</code> - just add default <code>.form-check-right</code> to any <code>.form-check</code> container and all inputs will be adjusted automatically.</p>

                        <div class="form-check form-check-switchery form-check-inline form-check-right">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                First input
                            </label>
                        </div>

                        <div class="form-check form-check-switchery form-check-inline form-check-right">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input-switchery" checked data-fouc>
                                Second input
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /switchery toggles -->

