<body>
  <br />
  <div class="container">
    <!-- Noty notifications -->
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr class="table-active">
              <th colspan="3">Notification layouts</th>
            </tr>
            <tr>
              <td style="width: 20%;">Error con modal</td>
              <td style="width: 20%;">
                <button
                  type="button"
                  (click)="errorm()"
                  class="btn btn-danger"
                  id="noty_error"
                >
                  Launch <i class="icon-play3 ml-2"></i>
                </button>
              </td>
              <td>
                Error notification.
                <code>type: 'error'</code> option
              </td>
            </tr>
            <tr>
              <td>Success notice</td>
              <td>
                <button
                  type="button"
                  (click)="succesm()"
                  class="btn btn-success"
                  id="noty_success"
                >
                  Launch <i class="icon-play3 ml-2"></i>
                </button>
              </td>
              <td>
                Success notification. To use, add
                <code>type: 'success'</code> option to the notification
                configuration
              </td>
            </tr>
            <tr>
              <td>Warning notice</td>
              <td>
                <button
                  type="button"
                  (click)="warninm()"
                  class="btn btn-warning"
                  id="noty_warning"
                >
                  Launch <i class="icon-play3 ml-2"></i>
                </button>
              </td>
              <td>
                Warning notification. To use, add
                <code>type: 'warning'</code> option to the notification
                configuration
              </td>
            </tr>
            <tr>
              <td>Information notice</td>
              <td>
                <button
                  type="button"
                  (click)="infom()"
                  class="btn bg-blue"
                  id="noty_info"
                >
                  Launch <i class="icon-play3 ml-2"></i>
                </button>
              </td>
              <td>
                Info notification. To use, add <code>type: 'info'</code> option
                to the notification configuration
              </td>
            </tr>
            <tr>
              <td>Alert notice</td>
              <td>
                <button
                  type="button"
                  (click)="alertm()"
                  class="btn bg-slate-600"
                  id="noty_alert"
                >
                  Launch <i class="icon-play3 ml-2"></i>
                </button>
              </td>
              <td>
                Simple alert layout. To use, add
                <code>type: 'alert'</code> option to the notification
                configuration
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /noty notifications -->
  </div>
</body>
